.alert{
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
}

.alert-info{
    color: #2020a0;
    background-color: #e0e0ff;
}

.alert-danger{
    color: #a02020;
    background-color: #ffe0e0e0;
}

.alert-success{
    color: #096b0e;
    background-color: #12e01d;
}