.whatsappbutton { 
    background-color: #7ACC72;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px !important;
    width: fit-content;
    margin: auto;
    cursor: pointer
}

.whatsappbutton span { 
    vertical-align: text-bottom !important; 
}

.fa-whatsapp { 
    margin-right: 10px;
}